<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,855},{329,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,183}}</string>
                <key>sourceSize</key>
                <string>{329,183}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,435},{329,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,183}}</string>
                <key>sourceSize</key>
                <string>{329,183}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,250},{329,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,183}}</string>
                <key>sourceSize</key>
                <string>{329,183}</string>
            </dict>
            <key>all.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1899},{133,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,28}}</string>
                <key>sourceSize</key>
                <string>{133,28}</string>
            </dict>
            <key>all_fruits.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1103},{493,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,62}}</string>
                <key>sourceSize</key>
                <string>{493,62}</string>
            </dict>
            <key>any_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,1904},{99,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,64}}</string>
                <key>sourceSize</key>
                <string>{99,64}</string>
            </dict>
            <key>bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1448},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1889},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>bar_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1837},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1977},{127,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,27}}</string>
                <key>sourceSize</key>
                <string>{127,27}</string>
            </dict>
            <key>bg_lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,855},{36,1026}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,1026}}</string>
                <key>sourceSize</key>
                <string>{36,1026}</string>
            </dict>
            <key>blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,855},{74,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,1042}}</string>
                <key>sourceSize</key>
                <string>{74,1042}</string>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,235},{250,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,30}}</string>
                <key>sourceSize</key>
                <string>{250,30}</string>
            </dict>
            <key>btn_automation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1268},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_automation_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,1035},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_automation_no_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,855},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_automation_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1797},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1018},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,854},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,2},{158,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,706}}</string>
                <key>sourceSize</key>
                <string>{158,706}</string>
            </dict>
            <key>btn_chaxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1724},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_chaxun_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1273},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_defen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1453},{269,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,207}}</string>
                <key>sourceSize</key>
                <string>{269,207}</string>
            </dict>
            <key>btn_defen_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1249},{269,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,220}}</string>
                <key>sourceSize</key>
                <string>{269,220}</string>
            </dict>
            <key>btn_defen_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1680},{269,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,207}}</string>
                <key>sourceSize</key>
                <string>{269,207}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,690},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_help_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,690},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_hold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,526},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_hold_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1448},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_kuaisutingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1588},{269,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,207}}</string>
                <key>sourceSize</key>
                <string>{269,207}</string>
            </dict>
            <key>btn_kuaisutingzhi_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1366},{269,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,220}}</string>
                <key>sourceSize</key>
                <string>{269,220}</string>
            </dict>
            <key>btn_kuaisutingzhi_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1471},{269,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,207}}</string>
                <key>sourceSize</key>
                <string>{269,207}</string>
            </dict>
            <key>btn_qufen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1040},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_qufen_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1244},{231,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,192}}</string>
                <key>sourceSize</key>
                <string>{231,192}</string>
            </dict>
            <key>btn_qufen_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1657},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,1040},{269,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,207}}</string>
                <key>sourceSize</key>
                <string>{269,207}</string>
            </dict>
            <key>btn_start_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1144},{269,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,220}}</string>
                <key>sourceSize</key>
                <string>{269,220}</string>
            </dict>
            <key>btn_start_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1731},{269,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,207}}</string>
                <key>sourceSize</key>
                <string>{269,207}</string>
            </dict>
            <key>btn_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1904},{142,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
            <key>btn_triangle_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,710},{142,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
            <key>btn_yazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1477},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_yazhu_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1011},{231,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,192}}</string>
                <key>sourceSize</key>
                <string>{231,192}</string>
            </dict>
            <key>btn_yazhu_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2},{231,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,178}}</string>
                <key>sourceSize</key>
                <string>{231,178}</string>
            </dict>
            <key>btn_zhuantai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1888},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>btn_zhuantai_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1724},{144,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>cridit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,235},{276,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,27}}</string>
                <key>sourceSize</key>
                <string>{276,27}</string>
            </dict>
            <key>double_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1103},{493,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,62}}</string>
                <key>sourceSize</key>
                <string>{493,62}</string>
            </dict>
            <key>game_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,2},{435,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,246}}</string>
                <key>sourceSize</key>
                <string>{435,246}</string>
            </dict>
            <key>game_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,855},{435,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,246}}</string>
                <key>sourceSize</key>
                <string>{435,246}</string>
            </dict>
            <key>game_redline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1182},{84,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,13}}</string>
                <key>sourceSize</key>
                <string>{84,13}</string>
            </dict>
            <key>game_redline_oblique.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{1624,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1624,21}}</string>
                <key>sourceSize</key>
                <string>{1624,21}</string>
            </dict>
            <key>game_redline_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1257,828}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1257,828}}</string>
                <key>sourceSize</key>
                <string>{1257,828}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1103},{612,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,42}}</string>
                <key>sourceSize</key>
                <string>{612,42}</string>
            </dict>
            <key>grape.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1731},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,855},{74,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,1042}}</string>
                <key>sourceSize</key>
                <string>{74,1042}</string>
            </dict>
            <key>insert_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1103},{493,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,62}}</string>
                <key>sourceSize</key>
                <string>{493,62}</string>
            </dict>
            <key>jingle_bell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,250},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>jitaihao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1598},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1612},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>lamp_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,855},{74,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,1042}}</string>
                <key>sourceSize</key>
                <string>{74,1042}</string>
            </dict>
            <key>lichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,620},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>link.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1453},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>link2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1700},{85,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,16}}</string>
                <key>sourceSize</key>
                <string>{85,16}</string>
            </dict>
            <key>mingxing97.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,855},{154,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,470}}</string>
                <key>sourceSize</key>
                <string>{154,470}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1011},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>orange_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{74,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,1042}}</string>
                <key>sourceSize</key>
                <string>{74,1042}</string>
            </dict>
            <key>push_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1103},{493,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,62}}</string>
                <key>sourceSize</key>
                <string>{493,62}</string>
            </dict>
            <key>push_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1103},{493,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,62}}</string>
                <key>sourceSize</key>
                <string>{493,62}</string>
            </dict>
            <key>seven.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1598},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>take_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1103},{493,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,62}}</string>
                <key>sourceSize</key>
                <string>{493,62}</string>
            </dict>
            <key>time_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,235},{146,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,54}}</string>
                <key>sourceSize</key>
                <string>{146,54}</string>
            </dict>
            <key>watermelon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{274,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,131}}</string>
                <key>sourceSize</key>
                <string>{274,131}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,250},{349,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,31}}</string>
                <key>sourceSize</key>
                <string>{349,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{2039,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51d67242a17c74b8145daf4f261bc9ff:d082955763cbbc672ecb33d24f087e2d:60881f8357b9fba8052fb6520b66c6b4$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
