<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>da_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{135,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{135,53}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
            <key>da_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{157,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{157,75}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
            <key>da_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{173,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{173,91}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
            <key>da_l_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,109}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
            <key>da_l_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{173,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{173,91}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
            <key>da_l_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{157,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{157,75}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
            <key>da_l_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{135,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{135,53}}</string>
                <key>sourceSize</key>
                <string>{191,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>da_l.png</string>
            <key>size</key>
            <string>{666,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00b016c5b895ef78296bb86333581d52:fc4540a93c612446e0203344788cf157:a71d15e937dbf27d1703d5773c972fa6$</string>
            <key>textureFileName</key>
            <string>da_l.png</string>
        </dict>
    </dict>
</plist>
