<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiao_l_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{232,53}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
            <key>xiao_l_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{254,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{254,75}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
            <key>xiao_l_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{268,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{268,91}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
            <key>xiao_l_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,109}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
            <key>xiao_l_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{268,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{268,91}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
            <key>xiao_l_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{254,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{254,75}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
            <key>xiao_l_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{232,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{232,53}}</string>
                <key>sourceSize</key>
                <string>{286,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiao_l.png</string>
            <key>size</key>
            <string>{1050,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbeba4abf0419fbc48074be091396fb7:15efd7ccdc8d1e462d1beb21c2504052:f431f1e6f9255a3aabfa89262e10ece8$</string>
            <key>textureFileName</key>
            <string>xiao_l.png</string>
        </dict>
    </dict>
</plist>
