<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firebird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1206},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>good luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1206},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>guipai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1034},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>guipai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,862},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>guipai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,690},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,690},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,804},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,518},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,518},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1262},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1090},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,804},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,518},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1262},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1262},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1090},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,804},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>plumblossom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,518},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>pokerback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,346},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,346},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,346},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart11.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1032},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart12.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,746},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart13.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,460},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,174},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,174},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,174},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,174},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1318},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart7.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1032},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart8.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,746},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>redheart9.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,460},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,174},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1318},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1032},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades12.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,746},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades13.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,460},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,174},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades6.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades8.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1146},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>spades9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,860},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,574},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,288},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1146},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,860},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,574},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,288},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
            <key>squarepiece9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,284}}</string>
                <key>sourceSize</key>
                <string>{170,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{2008,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88092b819ceb42c1f6e6b41ef157d305:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
