<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4k_1_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1025},{167,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,72}}</string>
                <key>sourceSize</key>
                <string>{167,72}</string>
            </dict>
            <key>5k_1_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1582},{165,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,70}}</string>
                <key>sourceSize</key>
                <string>{165,70}</string>
            </dict>
            <key>7_k_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1571},{192,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,73}}</string>
                <key>sourceSize</key>
                <string>{192,73}</string>
            </dict>
            <key>a_7_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,704},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>baoliuhuokaipai_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,230},{504,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,68}}</string>
                <key>sourceSize</key>
                <string>{504,68}</string>
            </dict>
            <key>bet_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,676},{175,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,38}}</string>
                <key>sourceSize</key>
                <string>{175,38}</string>
            </dict>
            <key>bibei_light_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,521},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_arrow_Redant_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,286},{115,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{115,233}}</string>
                <key>sourceSize</key>
                <string>{115,239}</string>
            </dict>
            <key>btn_arrow_no_Redant_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{115,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{115,233}}</string>
                <key>sourceSize</key>
                <string>{115,239}</string>
            </dict>
            <key>btn_banbibei1_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,772},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_banbibei2_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1214},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_banbibei_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1415},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_bet1_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,917},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_bet2_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,999},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_bet_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1311},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_bibei1_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,779},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_bibei2_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1349},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_bibei_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1263},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_chaxun_no_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1367},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_chaxun_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1207},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_chaxun_s_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,746},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_double1_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,746},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_double2_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1055},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_double_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1159},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_fanhui_no_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1519},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_fanhui_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1103},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_fanhui_s_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1430},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_liuji_no_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1469},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_liuji_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1055},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_liuji_s_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,493},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_qufen_no_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1367},{213,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{213,100}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_qufen_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,999},{215,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{215,102}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_qufen_s_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,734},{251,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,136}}</string>
                <key>sourceSize</key>
                <string>{251,136}</string>
            </dict>
            <key>btn_start_no_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,286},{212,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{212,211}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>btn_start_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,36},{248,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,247}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>btn_start_s_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,499},{204,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{204,203}}</string>
                <key>sourceSize</key>
                <string>{248,247}</string>
            </dict>
            <key>caidahuocaixiao_bigPlate.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,230},{502,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,67}}</string>
                <key>sourceSize</key>
                <string>{502,67}</string>
            </dict>
            <key>choose_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>clock_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,987},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>credit_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,736},{278,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,43}}</string>
                <key>sourceSize</key>
                <string>{278,43}</string>
            </dict>
            <key>da_Att_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1194},{153,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,71}}</string>
                <key>sourceSize</key>
                <string>{153,71}</string>
            </dict>
            <key>defenhuobibei_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,230},{504,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,67}}</string>
                <key>sourceSize</key>
                <string>{504,67}</string>
            </dict>
            <key>gantanhao_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1056},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>good.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,230},{444,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,120}}</string>
                <key>sourceSize</key>
                <string>{444,120}</string>
            </dict>
            <key>hall_transparent_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{850,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,32}}</string>
                <key>sourceSize</key>
                <string>{850,32}</string>
            </dict>
            <key>held.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1016},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>insert_coin_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,36},{630,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,70}}</string>
                <key>sourceSize</key>
                <string>{630,70}</string>
            </dict>
            <key>jitaihao_di_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,615},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1137},{291,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,127}}</string>
                <key>sourceSize</key>
                <string>{291,127}</string>
            </dict>
            <key>liuji_icon_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1270},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>lose_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{390,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,126}}</string>
                <key>sourceSize</key>
                <string>{390,126}</string>
            </dict>
            <key>luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,108},{464,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,120}}</string>
                <key>sourceSize</key>
                <string>{464,120}</string>
            </dict>
            <key>querensuoji_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,108},{383,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,150}}</string>
                <key>sourceSize</key>
                <string>{383,150}</string>
            </dict>
            <key>querensuoji_s_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,230},{383,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,150}}</string>
                <key>sourceSize</key>
                <string>{383,150}</string>
            </dict>
            <key>text_di_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{5,701}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,701}}</string>
                <key>sourceSize</key>
                <string>{5,701}</string>
            </dict>
            <key>time_di_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,705},{181,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,65}}</string>
                <key>sourceSize</key>
                <string>{181,65}</string>
            </dict>
            <key>win_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,736},{399,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,86}}</string>
                <key>sourceSize</key>
                <string>{399,86}</string>
            </dict>
            <key>winn_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,237},{187,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,43}}</string>
                <key>sourceSize</key>
                <string>{187,43}</string>
            </dict>
            <key>xiao_Att_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1568},{250,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,71}}</string>
                <key>sourceSize</key>
                <string>{250,71}</string>
            </dict>
            <key>xinxin_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,615},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>yazhuhuokaishi_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{409,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,54}}</string>
                <key>sourceSize</key>
                <string>{409,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_plate.png</string>
            <key>size</key>
            <string>{1020,1657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82cabc7349eaabb1bebf2e1b8632f526:75d692aa9f38627e8565ffc570cef996:2a9a4f69e7f495d9672cfdf0ae518966$</string>
            <key>textureFileName</key>
            <string>Game_plate.png</string>
        </dict>
    </dict>
</plist>
