<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1673},{175,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,38}}</string>
                <key>sourceSize</key>
                <string>{175,38}</string>
            </dict>
            <key>betin.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,793},{297,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,38}}</string>
                <key>sourceSize</key>
                <string>{297,38}</string>
            </dict>
            <key>bibei_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,146},{1408,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1408,6}}</string>
                <key>sourceSize</key>
                <string>{1408,6}</string>
            </dict>
            <key>bibeijilu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>bibeijilu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{338,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,118}}</string>
                <key>sourceSize</key>
                <string>{338,118}</string>
            </dict>
            <key>bibeileiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{395,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,70}}</string>
                <key>sourceSize</key>
                <string>{395,70}</string>
            </dict>
            <key>bibeileiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{395,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,70}}</string>
                <key>sourceSize</key>
                <string>{395,70}</string>
            </dict>
            <key>bibeimoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1865},{206,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,57}}</string>
                <key>sourceSize</key>
                <string>{206,57}</string>
            </dict>
            <key>bibeiyazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1341},{206,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,57}}</string>
                <key>sourceSize</key>
                <string>{206,57}</string>
            </dict>
            <key>btn_queding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{340,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,108}}</string>
                <key>sourceSize</key>
                <string>{340,108}</string>
            </dict>
            <key>btn_queding2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{340,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,108}}</string>
                <key>sourceSize</key>
                <string>{340,108}</string>
            </dict>
            <key>caidaxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1673},{158,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,57}}</string>
                <key>sourceSize</key>
                <string>{158,57}</string>
            </dict>
            <key>chazhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1478},{228,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,76}}</string>
                <key>sourceSize</key>
                <string>{228,76}</string>
            </dict>
            <key>chucikaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,403},{53,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,195}}</string>
                <key>sourceSize</key>
                <string>{53,195}</string>
            </dict>
            <key>chujiangleiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{338,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,118}}</string>
                <key>sourceSize</key>
                <string>{338,118}</string>
            </dict>
            <key>chujiangleiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>credit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{358,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,38}}</string>
                <key>sourceSize</key>
                <string>{358,38}</string>
            </dict>
            <key>ercikaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,600},{53,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,191}}</string>
                <key>sourceSize</key>
                <string>{53,191}</string>
            </dict>
            <key>jilu_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,290},{12,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,111}}</string>
                <key>sourceSize</key>
                <string>{12,111}</string>
            </dict>
            <key>jilu_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{244,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,68}}</string>
                <key>sourceSize</key>
                <string>{244,68}</string>
            </dict>
            <key>jilushuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1092},{247,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,59}}</string>
                <key>sourceSize</key>
                <string>{247,59}</string>
            </dict>
            <key>jitai_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1732},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>jitai_box_liuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>jitai_box_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>kaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1548},{106,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,57}}</string>
                <key>sourceSize</key>
                <string>{106,57}</string>
            </dict>
            <key>pukejilu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>pukejilu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{338,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,118}}</string>
                <key>sourceSize</key>
                <string>{338,118}</string>
            </dict>
            <key>pukeleiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{399,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,70}}</string>
                <key>sourceSize</key>
                <string>{399,70}</string>
            </dict>
            <key>pukeleiji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,70}}</string>
                <key>sourceSize</key>
                <string>{399,70}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1673},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1924},{62,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,155}}</string>
                <key>sourceSize</key>
                <string>{62,155}</string>
            </dict>
            <key>you_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1708},{62,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,155}}</string>
                <key>sourceSize</key>
                <string>{62,155}</string>
            </dict>
            <key>zhuantai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>zhuantai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{338,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,118}}</string>
                <key>sourceSize</key>
                <string>{338,118}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1706},{62,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,155}}</string>
                <key>sourceSize</key>
                <string>{62,155}</string>
            </dict>
            <key>zuo_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1549},{62,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,155}}</string>
                <key>sourceSize</key>
                <string>{62,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>queryHistory.png</string>
            <key>size</key>
            <string>{407,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e62c0ce29d092cd705c16e886af0b356:6f925c95d43c96ecccf8517889d96660:d95f9eea61827414c6aa49dd1f3c2f88$</string>
            <key>textureFileName</key>
            <string>queryHistory.png</string>
        </dict>
    </dict>
</plist>
