<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,134},{563,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,60}}</string>
                <key>sourceSize</key>
                <string>{563,60}</string>
            </dict>
            <key>12xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,126},{563,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,60}}</string>
                <key>sourceSize</key>
                <string>{563,60}</string>
            </dict>
            <key>2xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{542,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,60}}</string>
                <key>sourceSize</key>
                <string>{542,60}</string>
            </dict>
            <key>4xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,64},{570,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,60}}</string>
                <key>sourceSize</key>
                <string>{570,60}</string>
            </dict>
            <key>6xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,2},{570,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,60}}</string>
                <key>sourceSize</key>
                <string>{570,60}</string>
            </dict>
            <key>8xiaoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,72},{570,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,60}}</string>
                <key>sourceSize</key>
                <string>{570,60}</string>
            </dict>
            <key>bibei_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>liuji_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>liujishezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,152},{276,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,76}}</string>
                <key>sourceSize</key>
                <string>{276,76}</string>
            </dict>
            <key>querensuoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,111},{333,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,107}}</string>
                <key>sourceSize</key>
                <string>{333,107}</string>
            </dict>
            <key>querensuoji_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{333,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,107}}</string>
                <key>sourceSize</key>
                <string>{333,107}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>white_DF.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>xitongbaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game_Common.png</string>
            <key>size</key>
            <string>{1995,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:391e92a6dd4891973e977d2cf8dc4864:879cbb5c492397e80faccf3bde062742:e2cff0e9e197bf70408e95ff99419992$</string>
            <key>textureFileName</key>
            <string>Game_Common.png</string>
        </dict>
    </dict>
</plist>
